<?xml version="1.0"?>
<config>
	<modules>
		<ActiveCode_CustomFee>
			<version>0.0.1</version>
		</ActiveCode_CustomFee>
	</modules>
	<global>
		<blocks>
			<customfee>
				<class>ActiveCode_CustomFee_Block</class>
			</customfee>
		</blocks>
		<models>
			<customfee>
				<class>ActiveCode_CustomFee_Model</class>
			</customfee>
		</models>
		<helpers>
			<customfee>
				<class>ActiveCode_CustomFee_Helper</class>
			</customfee>
		</helpers>
		<resources>
			<customfee_setup>
				<setup>
					<module>ActiveCode_CustomFee</module>
				</setup>
			</customfee_setup>
		</resources>
		<fieldsets>
			<sales_convert_quote_address>
				<base_checktotal_amount>
					<to_order>*</to_order>
				</base_checktotal_amount>
				<checktotal_amount>
					<to_order>*</to_order>
				</checktotal_amount>
			</sales_convert_quote_address>
			<sales_convert_quote_item>
				<base_checktotal_amount>
					<to_order_item>*</to_order_item>
				</base_checktotal_amount>
				<checktotal_amount>
					<to_order_item>*</to_order_item>
				</checktotal_amount>
			</sales_convert_quote_item>
		</fieldsets>
		<sales>
			<quote>
				<totals>
					<customfee>
						<class>customfee/sales_quote_address_total_customfee</class>
						<after>subtotal</after>
						<renderer>customfee/checkout_total_customfee</renderer>
					</customfee>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<customfee>
						<class>customfee/sales_order_invoice_total_customfee</class>
						<after>subtotal</after>
					</customfee>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<customfee>
						<class>customfee/sales_order_creditmemo_total_customfee</class>
						<after>subtotal</after>
					</customfee>
				</totals>
			</order_creditmemo>
		</sales>
	</global>
	<frontend>
		<layout>
			<updates>
				<customfee>
					<file>activecode/customfee.xml</file>
				</customfee>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<customfee>
					<file>activecode/customfee.xml</file>
				</customfee>
			</updates>
		</layout>
	</adminhtml>
</config>